<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">

        <!-- Login Activity -->
        <activity
            android:name="com.example.schedulenotifier.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name="com.example.schedulenotifier.RegisterActivity"
            android:exported="true" />

        <!-- Main Activity -->
        <activity
            android:theme="@style/Theme.FetchingData"
            android:name="com.example.schedulenotifier.MainActivity"
            android:exported="true" />

        <!-- DisplayDataActivity -->
        <activity
            android:name="com.example.schedulenotifier.DisplayDataActivity"
            android:screenOrientation="landscape"
            android:exported="true" />

        <!-- Alarm Receiver -->
        <receiver
            android:name="com.example.schedulenotifier.AlarmReceiver"
            android:exported="true" />
        <receiver
            android:name="com.example.NotificationDismissReceiver" />
        <activity
            android:name="com.example.schedulenotifier.ProfileActivity"
            android:exported="true" />


    </application>
</manifest>
